img { border: 0; }

.middle { vertical-align:middle; }
.ms-formtable {	margin-bottom: 7px; }
.w700 { width:700px; }
.wfit { width:100%; }
.ms-leftareacell { width: 15%; }

.ms-bodyareaframe {
	padding: 0;
	border: 0px;
}

.ms-viewareaframe {	border: 0px; }

.ms-WPTitle
{
	font-family: verdana;
	font-size: 16pt;
	font-weight: normal;
	color: Black;
}

.ms-nav
{
	font-size:8pt;
}

.header
{
	vertical-align:middle;
	text-align:right;
	height:60px;
	background-color: #acc3e1;
	background-image: url(_layouts/images/n/head_bg.jpg);
}

/* forms */
.ms-formtoolbar { width:700px; }
.ms-formlabel { width: 30%; }
.ms-formbody { width: 70%; }
.ms-formtable td { vertical-align: top; }
.ms-formbody textarea {
	width: 100%;
	height: 75px;
}

/* calendar */
.calendarHeader {
	color:#000000;
	font-family:Tahoma;
	font-size:10pt;
	font-weight:bold;
	padding:10px;
}

.calendarHeader a img {
	background-color:#FFFFFF;
	background-image:url(/_layouts/images/listheadergrad.gif);
	background-repeat:repeat-x;
	border:1px solid #83B0EC;
	vertical-align:middle;
}

.ms-cal-week a {
	display:block;
	height: 80px;
}

.ms-cal-week a:hover {
	background-color: #E3EFFF;
	text-decoration: none
}

.ms-cal-topday a {
	font-weight: bold;
	padding:1px 1px 2px 5px;
	display:block;
}

.ms-cal-topday a:hover {
	background-color: #E3EFFF;
}



.tabs{
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	font: bold;
	list-style-type: none;
	text-align: left;
}

.tabs li{
	display: inline;
	margin: 0;
}

.tabs li a{
	text-decoration: none;
	position: relative;
	z-index: 1;
	padding: 3px 7px;
	margin-right: 3px;
	border: 1px solid #778;
	/*background: white url(shade.gif) top left repeat-x;*/
}

.tabs li a.selected {
	position: relative;
	top: 1px;
}

.tabs li a.selected {
	background-image: url(/_layouts/images/n/shadeactive.gif);
	border-bottom-color: white;
}

.mainmenu
{
	height: 100%;
    min-height: 100%;
    background-color: White;
    border:solid 1px #6F9DD9;
}

.NavBarList
{
	padding:8px;
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:8pt;
}

.NavBarList img
{
	vertical-align:middle;
}

.NavBarList li
{
	list-style-type:none;
	padding-bottom: 2px;
}

.NavBarList ul
{
	margin: 0;
	padding:0;
}

.selectedNavMenuExGroup
{
    background: #EE9515 url(/Img/img4.gif) repeat-x scroll 0 0;
}

.filterInput
{
    width: 190px;
    color: #555;
}

.filterInputActive
{
    color: #000;
}

.textItalic
{
    font-style: italic;
}


