/* rp1  **********************************************************************************/
.RadPanelBar {width:200px;}

.RadPanelBar .rpRootGroup,
.RadPanelBar .rpGroup,
.RadPanelBar .rpItem
{margin:0;padding:0;list-style-image: none;list-style-position:outside;list-style:none;}

.RadPanelBar .rpItem
{float:none;display:block;position:static;}

.RadPanelBar .rpSlide
{position:static;float: none;height:auto;}

.RadPanelBar .rpText:after,
.RadPanelBar .rpTemplate:after,
.RadPanelBar .rpItem:after
{content: "";display: block;height: 0;clear: both;visibility: hidden;}

.RadPanelBar .rpLink,
.RadPanelBar .rpText
{text-decoration:none;display:block;}

.RadPanelBar .rpImage
{float:left;clear: left;border:0;vertical-align:middle;}

.RadPanelBar .rpLevel1
{overflow:auto;overflow-x:hidden;}

.RadPanelBar .rpLink
{width:100%;outline:none; /* Remove this for FF to put dotted border around the focused item */}

.RadPanelBar .rpText
{cursor:pointer;_cursor:hand;}

.RadPanelBar .rpSlide
{overflow:hidden;display:none;zoom: 1;}

.rtl .rpImage
{border:0;float:right;}

.rtl 
{text-align:right;}

/* rp2 */
.RadPanelBar_Outlook 
{background: white;}

.RadPanelBar_Outlook .rpText
{padding: 0 20px; /* vertical - horizontal */}

.RadPanelBar_Outlook .rpImage
{margin: 4px; /* vertical - horizontal */}

.RadPanelBar_Outlook .rpRootGroup .rpLink,
.RadPanelBar_Outlook .rpRootGroup .rpTemplate
{color: #10110f;font: bold 11px/31px Arial, Verdana, Sans-serif;}

.RadPanelBar_Outlook .rpRootGroup .rpLink
{border-top: solid 1px #002d96;background: #7da5e0 url('/i/n/RadPanelBar/img1.gif') repeat-x;}

.RadPanelBar_Outlook .rpRootGroup .rpLink:hover
{background: #ee9515 url('/i/n/RadPanelBar/img2.gif') repeat-x;}

.RadPanelBar_Outlook .rpRootGroup .rpDisabled:hover
{border-top: solid 1px #002d96;background: #7da5e0 url('/i/n/RadPanelBar/img3.gif') repeat-x;color: #10110f;}

.RadPanelBar_Outlook .rpGroup .rpLink,
.RadPanelBar_Outlook .rpGroup .rpTemplate
{font-weight: normal;}

.RadPanelBar_Outlook .rpGroup .rpText
{background-color: transparent;padding: 0 20px; /* vertical-horizontal */border: 0;}

.RadPanelBar_Outlook .rpLevel2 .rpText
{padding-left: 43px;line-height: 23px;}

.RadPanelBar_Outlook .rpLevel3 .rpText { padding-left: 64px; }
.RadPanelBar_Outlook .rpLevel3 .rpText { padding-left: 70px; }

.RadPanelBar_Outlook .rpRootGroup .rpSelected
{background: #ee9515 url('/i/n/RadPanelBar/img4.gif') repeat-x;}

/* child item link */
.RadPanelBar_Outlook .rpGroup .rpLink
{background: none;border: 0;}

/* child item link:hover */
.RadPanelBar_Outlook .rpGroup .rpLink:hover,
.RadPanelBar_Outlook .rpGroup .rpSelected .rpText
{background: none;text-decoration: underline;}

.RadPanelBar_Outlook .rpRootGroup .rpDisabled:hover,
.RadPanelBar_Outlook .rpRootGroup .rpDisabled .rpText
{background: #7da5e0 url('/i/n/RadPanelBar/img5.gif') repeat-x;color: #888;cursor: default;}

.RadPanelBar_Outlook .rpRootGroup .rpGroup .rpDisabled:hover,
.RadPanelBar_Outlook .rpRootGroup .rpGroup .rpDisabled .rpText
{border:none;text-decoration:none;background:none;color: #ccc;cursor: default;}

.selectedNavMenuExGroup
{
    background: #EE9515 url(/i/n/RadPanelBar/img4.gif) repeat-x scroll 0 0;
}

/* popup **********************************************************************************/
#overlay1 
{
	top: 0;
	left: 0;
	position: fixed;
    //position: absolute; 
	width: 100%; 
	height:100%;
	background: #FFF;
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter:alpha(opacity=65);
	z-index:50;
}	

#ModalDialogPlace 
{
	top: 0px;
	left: 0px;
	width: 100%; 
	position: fixed; 
	//position: absolute; 
	z-index:90;
	display: none; 
	top: expression(document.compatMode == "CSS1Compat" ? document.documentElement.scrollTop + "px" : body.scrollTop + "px");
}


/* treeview  **********************************************************************************/
.treeview, .treeview ul {padding: 0;margin: 0;list-style: none;}
.treeview ul {margin-top: 4px;}
.treeview .hitarea {background: url(/i/n/treeview/treeview-default.gif) -64px -25px no-repeat;height: 16px;width: 16px;margin-left: -16px;float: left;cursor: pointer;}
* html .hitarea {display: inline;float:none;} /* fix for IE6 */
.treeview li {margin: 0;padding: 3px 0pt 3px 16px;}
.treeview a.selected {background-color: #eee;}
#treecontrol { margin: 1em 0; display: none; }
.treeview .hover { color: red; cursor: pointer; }
.treeview li { background: url(/i/n/treeview/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(/i/n/treeview/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
.treeview-red li { background-image: url(/i/n/treeview/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(/i/n/treeview/treeview-red.gif); } 
.treeview-black li { background-image: url(/i/n/treeview/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(/i/n/treeview/treeview-black.gif); }  
.treeview-gray li { background-image: url(/i/n/treeview/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(/i/n/treeview/treeview-gray.gif); } 
.treeview-famfamfam li { background-image: url(/i/n/treeview/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(/i/n/treeview/treeview-famfamfam.gif); } 
.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(/i/n/treeview/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(/i/n/treeview/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(/i/n/treeview/file.gif) 0 0 no-repeat; }


/* js calendar  **********************************************************************************/
/* Distributed as part of The Coolest DHTML Calendar
   Author: Mihai Bazon, www.bazon.net/mishoo
   Copyright Dynarch.com 2005, www.dynarch.com
*/

/* The main calendar widget.  DIV containing a table. */
div.calendar { position: relative; z-index: 99}
.calendar, .calendar table {
  border: 1px solid #bdb2bf;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: url("/i/n/JSCalendar/normal-bg.gif");
  font-family: "trebuchet ms",verdana,tahoma,sans-serif;
}
.calendar {border-color: #797979;}

/* Header part -- contains navigation buttons and day names. */
.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
  background: url("/i/n/JSCalendar/title-bg.gif") repeat-x 0 100%; color: #000;
  font-weight: bold;
}

.calendar .nav {font-family: verdana,tahoma,sans-serif;}
.calendar .nav div {background: transparent url("/i/n/JSCalendar/menuarrow.gif") no-repeat 100% 100%;}
.calendar thead tr { background: url("/i/n/JSCalendar/title-bg.gif") repeat-x 0 100%; color: #000; }
.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  padding: 2px;
  background: url("/i/n/JSCalendar/title-bg.gif") repeat-x 0 100%; color: #000;
}
.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}
.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #797979;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */  color: #c44;}
.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background: url("/i/n/JSCalendar/hover-bg.gif");
  /*border-bottom: 1px solid #797979;*/
  /*padding: 2px 2px 1px 2px;*/
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background: url("active-bg.gif"); color: #fff;
  padding: 3px 1px 0px 3px;
  border-bottom: 1px solid #797979;
}
.calendar thead .daynames { /* Row <TR> containing the day names */  background: url("/i/n/JSCalendar/dark-bg.gif");}

/* The body part -- contains all the days in month. */
.calendar tbody .day { /* Cells <TD> containing month days dates */
  font-family: verdana,tahoma,sans-serif;
  width: 2em;
  color: #000;
  text-align: right;
  /*padding: 2px 4px 2px 2px;*/
	padding: 1px 3px 1px 1px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #999;
}
.calendar tbody .day.othermonth.oweekend {
  color: #f99;
}
.calendar table .wn {
  /*padding: 2px 3px 2px 2px;*/
  /*border-right: 1px solid #797979;*/
  background: url("/i/n/JSCalendar/dark-bg.gif");
}
.calendar tbody .rowhilite td,
.calendar tbody .rowhilite td.wn {
  background: url("/i/n/JSCalendar/rowhover-bg.gif");
}
.calendar tbody td.today { font-weight: bold; /* background: url("today-bg.gif") no-repeat 70% 50%; */ }
.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: url("/i/n/JSCalendar/hover-bg.gif");
 /* padding: 1px 3px 1px 1px;*/
  /*border: 1px solid #bbb;*/
}
.calendar tbody td.active { /* Active (pressed) cells <TD> */
  /*padding: 2px 2px 0px 2px;*/
}
.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #c44;
}
.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  /*border: 1px solid #797979;*/
  /*padding: 1px 3px 1px 1px;*/
  background: url("/i/n/JSCalendar/active-bg.gif"); color: #fff;
}
.calendar tbody .disabled { color: #999; }
.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}
.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */
.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #565;
  color: #fff;
}
.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  padding: 2px;
  background: url("/i/n/JSCalendar/status-bg.gif") repeat-x 0 0; color: #000;
}
.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #afa;
  /*border: 1px solid #084;*/
  color: #000;
  /*padding: 1px;*/
}
.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #7c7;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */
.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #797979;
  background: url("/i/n/JSCalendar/normal-bg.gif"); color: #000;
  z-index: 100;
  font-size: 90%;
}
.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}
.calendar .combo .label-IEfix {
  width: 4em;
}
.calendar .combo .hilite {
  background: url("/i/n/JSCalendar/hover-bg.gif"); color: #000;
}
.calendar .combo .active {
  background: url("/i/n/JSCalendar/active-bg.gif"); color: #fff;
  font-weight: bold;
}
.calendar td.time {
  border-top: 1px solid #797979;
  padding: 1px 0px;
  text-align: center;
  background: url("/i/n/JSCalendar/dark-bg.gif");
}
.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 5px 0px 6px;
  font-weight: bold;
  background: url("/i/n/JSCalendar/normal-bg.gif"); color: #000;
}
.calendar td.time .hour,
.calendar td.time .minute {
  font-family: monospace;
}
.calendar td.time .ampm {
  text-align: center;
}
.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}
.calendar td.time span.hilite {
  background: url("/i/n/JSCalendar/hover-bg.gif"); color: #000;
}
.calendar td.time span.active {
  background: url("/i/n/JSCalendar/active-bg.gif"); color: #fff;
}

/* autocomplete **********************************************************************************/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('/i/n/AutoComplete/indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

/* BaloonTooltipPopup **********************************************************************************/
#BaloonTooltipContainer
{
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index: 20000;
}

.BaloonTooltipPopup
{
}

#BaloonTooltipContent
{
    background-color: #FFF;
    min-width: 175px;
    min-height: 50px;
    font-family:verdana,arial,helvetica,sans-serif;
	font-size:8pt;
}

.BaloonTooltipPopup .BaloonTooltipImage
{
    margin: 5px;
    margin-right: 15px;
}

.BaloonTooltipPopup .corner 
{
    width: 19px;
    height: 15px;
}
    
.BaloonTooltipPopup .topLeft 
{
    background: url(/i/n/BaloonTooltipPopup/balloon_topLeft.png) no-repeat;
}
    
.BaloonTooltipPopup .bottomLeft 
{
    background: url(/i/n/BaloonTooltipPopup/balloon_bottomLeft.png) no-repeat;
}
    
.BaloonTooltipPopup .left 
{
    background: url(/i/n/BaloonTooltipPopup/balloon_left.png) repeat-y;
}
    
.BaloonTooltipPopup .right 
{
    background: url(/i/n/BaloonTooltipPopup/balloon_right.png) repeat-y;
}
    
.BaloonTooltipPopup .topRight 
{
    background: url(/i/n/BaloonTooltipPopup/balloon_topRight.png) no-repeat;
}
    
.BaloonTooltipPopup .bottomRight 
{
    background: url(/i/n/BaloonTooltipPopup/balloon_bottomRight.png) no-repeat;
}
    
.BaloonTooltipPopup .top 
{
    background: url(/i/n/BaloonTooltipPopup/balloon_top.png) repeat-x;
}
    
.BaloonTooltipPopup .bottom 
{
    background: url(/i/n/BaloonTooltipPopup/balloon_bottom.png) repeat-x;
    text-align: center;
}


/* tabs */
.tabs{
	padding: 3px 0 0 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	font: bold;
	list-style-type: none;
	text-align: left;
}

.tabs li{
	display: inline;
	margin: 0;
}

.tabs li a{
	text-decoration: none;
	position: relative;
	z-index: 1;
	padding: 4px 7px;
	margin-right: 3px;
	border: 1px solid #778;
	line-height:22px;
	/*background: white url(shade.gif) top left repeat-x;*/
}

.tabs li a.selected {
	position: relative;
	/*top: 1px;*/
}

.tabs li a.selected {
	background-image: url(/i/n/tabs/shadeactive.gif);
	border-bottom-color: white;
}

/* modal */
.windowCT
{
	background-image:url(/i/n/modal/windowCT.png);
	background-repeat:repeat-x;
	background-color:White;
}

.Canvas {
	display:block;
	margin:0;
	padding:0;
}

.windowLC {
	background-image:url(/i/n/modal/windowLC.png);
	width:8px;
}

.windowRC {
	background-image:url(/i/n/modal/windowRC.png);
	background-repeat:repeat-y;
	width:8px;
}

.windowCB {
	background-image:url(/i/n/modal/windowCB.png);
	background-repeat:repeat-x;
	height:8px;
}

.windowLT {
	background-image:url(/i/n/modal/windowMain.png);
	width:8px;
}

.windowRT {
	background-image:url(/i/n/modal/windowMain.png);
	background-position:-8px 0;
	width:8px;
}

.windowLB {
	background-image:url(/i/n/modal/windowMain.png);
	background-position:-16px 0;
	width:8px;
}

.windowRB {
	background-image:url(/i/n/modal/windowMain.png);
	background-position:-24px 0;
	width:8px;
}

.windowBtnClose {
	background-image:url(/i/n/modal/windowBtnClose.png);
	height:17px;
	width:42px;
	background-position: right top;
	background-repeat: no-repeat;
}

/* td drag'n'drop */
td.showDragHandle {
	background-image:url(/i/n/dnd/updown2.gif);
	background-position:left;
	background-repeat:no-repeat;
	cursor:move;
}

 /* tessera **********************************************************************************/
.deletedItem {background-color:#ccc;text-decoration:line-through;}

.CodeArea { 
          padding-left:3px;
          width:100%; 
          height:500px; 
          font-family:Consolas,Courier New Cyr;
          font-size: 14px;
          border:1px solid #666; 
} 
.textAreaWithLines { 
         display:block; 
         margin:0; 
         border:1px solid #666; 
         border-right:none; 
         background:#ddd; 
		color:#000;
		/*padding-right:5px;*/
		
}

.cal-workingday { background: #D6F6FF; }
.cal-holiday { background: #FFE8ED;	}


/* ms calendar */
.calendarHeader {
	color:#000000;
	font-family:Tahoma;
	font-size:10pt;
	font-weight:bold;
	padding:10px;
}

.calendarHeader a img {
	background-color:#FFFFFF;
	background-image:url(/_layouts/images/listheadergrad.gif);
	background-repeat:repeat-x;
	border:1px solid #83B0EC;
	vertical-align:middle;
}

.ms-cal-week a {
	display:block;
	height: 80px;
}

.ms-cal-week a:hover {
	background-color: #E3EFFF;
	text-decoration: none
}

.ms-cal-topday a {
	font-weight: bold;
	padding:1px 1px 2px 5px;
	display:block;
}

.ms-cal-topday a:hover {
	background-color: #E3EFFF;
}

/* other */
.tabletitle { margin: 15px 0px 5px 0px; font-weight:bold;}
input, textarea {
	font-family:Verdana,sans-serif;
	font-size:8pt;
}
.ms-ButtonHeightWidth
{
	width:7.5em;
}