html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
	font-family: "Segoe UI", Roboto, "Droid Sans", Arial, sans-serif;
	font-size: 1em;
}

h1, h2 {
	/*font-family: "Skolar Bold","Segoe UI Bold","Roboto Slab","Droid Serif",AvenirNext-Bold,"Avenir Bold",Georgia,"Times New Roman",Times,serif;*/
	font-size: 1.25em;
	font-weight: 700;
	margin-top:2px;
	display:inline-block;	
}

div#header {
    height: 35px;
	padding: 0px 10px 0 10px;
    border-bottom: 1px solid #6F9DD9;
	background-color: #eee;

}


div#container {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:36px;
    left:0;
    right:0;
}

div#splitter {
	width:6px;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	height:auto;
	display: block;
	border-left: solid 1px #6F9DD9; 
	border-right: solid 1px #6F9DD9; 
	cursor: pointer;
	margin-left:220px;
}

div#content {
	margin-left:228px;
}


div#nav {  
	width:220px;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	height:auto;
	display: block;
}
div#nav-body {
	overflow:auto;
	display:none;
}
div#nav-buttonsbar {
	background-color:#cfd2d6;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
div#nav-header {
	/*background-color:#ffeadb;*/
	font-size: 1.25em;
	line-height: 1.15;
	padding: 7px 0 7px 10px;
	height:35px;
	border-bottom: solid 1px #6F9DD9;
	display:inline-table;
}
div#nav-buttonsbar li {
	border-top: 1px solid #707984;
	height:26px;
}

div#topmessage {
	position:absolute;
	width:100%;
	top:0; 
	display:none;
	text-align:center;
}
div#topmessage span {
	background-color:#f9edbe;
	border:#f0c36d 1px solid;
	width:100px;
	padding: 2px 5px; 
}
