<?xml version="1.0"?>
<configuration>
  <!--
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  -->
  <appSettings>
    <add key="DebugMode" value="1"/>
    <add key="DisableSPM" value="1"/>
    <add key="PageSize" value="30"/>
    <add key="AccessRightManager" value="WebAccessRightManager"/>
    <add key="ControlsPath" value="/_controltemplates/onestop"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=contextum2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="licwebConnectionString" connectionString="Data Source=(local);Initial Catalog=licweb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ermsConnectionString" connectionString="Data Source=srvsql\mssqlserver2008;Initial Catalog=erms;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="nw" namespace="Nephrite.Web.Controls" assembly="Nephrite.Web"/>
        <add tagPrefix="nm" namespace="Nephrite.Metamodel" assembly="Nephrite.Metamodel"/>
        <add tagPrefix="nf" namespace="Nephrite.Metamodel.FormControls" assembly="Nephrite.Metamodel"/>
        <add tagPrefix="nf" tagName="Form" src="~/FormControls/Form.ascx"/>
        <add tagPrefix="nw" tagName="Filter" src="~/_controltemplates/Nephrite.Web/ListFilter.ascx"/>
        <add tagPrefix="nw" tagName="LetterFilter" src="~/_controltemplates/Nephrite.Web/LetterFilter.ascx"/>
        <add tagPrefix="nw" tagName="ModalDialog" src="~/_controltemplates/Nephrite.Web/ModalDialog.ascx"/>
        <add tagPrefix="nw" tagName="ModalDialogManager" src="~/_controltemplates/Nephrite.Web/ModalDialogManager.ascx"/>
        <add tagPrefix="nw" tagName="NavMenu" src="~/_controltemplates/Nephrite.Web/NavMenu.ascx"/>
        <add tagPrefix="nw" tagName="ToolbarPopupMenuCompact" src="~/_controltemplates/Nephrite.Web/ToolbarPopupMenuCompact.ascx"/>
      </controls>
      <namespaces>
        <add namespace="System.Linq"/>
        <add namespace="Nephrite.Web"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="DynamicDataModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>