@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2dpw8q');
  src:  url('fonts/icomoon.eot?2dpw8q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2dpw8q') format('truetype'),
    url('fonts/icomoon.woff?2dpw8q') format('woff'),
    url('fonts/icomoon.svg?2dpw8q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scissors:before {
  content: "\e964";
}
.icon-house:before {
  content: "\e965";
}
.icon-forbidden:before {
  content: "\e963";
}
.icon-www:before {
  content: "\e962";
}
.icon-large-integration:before {
  content: "\e961";
}
.icon-clock:before {
  content: "\e960";
}
.icon-notifications:before {
  content: "\e95f";
}
.icon-calendar:before {
  content: "\e95e";
}
.icon-line-chart:before {
  content: "\e950";
}
.icon-candlestick-chart:before {
  content: "\e95d";
}
.icon-dropdownarrow-angle:before {
  content: "\f101";
}
.icon-database:before {
  content: "\e95b";
}
.icon-radio-off:before {
  content: "\e959";
}
.icon-radio-on:before {
  content: "\e95a";
}
.icon-zero:before {
  content: "\e958";
}
.icon-fivedots:before {
  content: "\e957";
}
.icon-menu:before {
  content: "\e956";
}
.icon-function:before {
  content: "\e955";
}
.icon-clipboard:before {
  content: "\e952";
}
.icon-tasks:before {
  content: "\e953";
}
.icon-clipboard-ok:before {
  content: "\e954";
}
.icon-more:before {
  content: "\e951";
}
.icon-log:before {
  content: "\e94f";
}
.icon-minus-box:before {
  content: "\e901";
}
.icon-checkbox-checked:before {
  content: "\e94c";
}
.icon-checkbox-intermediate:before {
  content: "\e94d";
}
.icon-checkbox-unchecked:before {
  content: "\e94e";
}
.icon-view:before {
  content: "\e948";
}
.icon-newview:before {
  content: "\e94a";
}
.icon-viewsettings:before {
  content: "\e94b";
}
.icon-undelete:before {
  content: "\e949";
}
.icon-close:before {
  content: "\e947";
}
.icon-dropdownarrow:before {
  content: "\e944";
}
.icon-collapsed:before {
  content: "\e945";
}
.icon-expanded:before {
  content: "\e946";
}
.icon-xml:before {
  content: "\e900";
}
.icon-approval:before {
  content: "\e902";
}
.icon-external-link:before {
  content: "\e903";
}
.icon-a-three:before {
  content: "\e904";
}
.icon-back:before {
  content: "\e905";
}
.icon-calc:before {
  content: "\e906";
}
.icon-changehistory:before {
  content: "\e907";
}
.icon-delete:before {
  content: "\e908";
}
.icon-documents:before {
  content: "\e909";
}
.icon-docx:before {
  content: "\e90a";
}
.icon-done:before {
  content: "\e90b";
}
.icon-download:before {
  content: "\e90c";
}
.icon-downloadzip:before {
  content: "\e90d";
}
.icon-egg1:before {
  content: "\e90e";
}
.icon-egg2:before {
  content: "\e90f";
}
.icon-excel:before {
  content: "\e910";
}
.icon-filter:before {
  content: "\e911";
}
.icon-hie:before {
  content: "\e912";
}
.icon-home:before {
  content: "\e913";
}
.icon-warning:before {
  content: "\e914";
}
.icon-information:before {
  content: "\e915";
}
.icon-help:before {
  content: "\e916";
}
.icon-error:before {
  content: "\e917";
}
.icon-import:before {
  content: "\e918";
}
.icon-key:before {
  content: "\e919";
}
.icon-keys:before {
  content: "\e91a";
}
.icon-begin:before {
  content: "\e91b";
}
.icon-left:before {
  content: "\e91c";
}
.icon-right:before {
  content: "\e91d";
}
.icon-end:before {
  content: "\e91e";
}
.icon-lock:before {
  content: "\e91f";
}
.icon-mail:before {
  content: "\e920";
}
.icon-new:before {
  content: "\e921";
}
.icon-new2:before {
  content: "\e922";
}
.icon-objects:before {
  content: "\e923";
}
.icon-print:before {
  content: "\e924";
}
.icon-role:before {
  content: "\e925";
}
.icon-rss:before {
  content: "\e926";
}
.icon-save:before {
  content: "\e927";
}
.icon-search:before {
  content: "\e928";
}
.icon-tools:before {
  content: "\e929";
}
.icon-settings2:before {
  content: "\e92a";
}
.icon-settings3:before {
  content: "\e92b";
}
.icon-shield2:before {
  content: "\e92c";
}
.icon-sign:before {
  content: "\e92d";
}
.icon-sortasc:before {
  content: "\e92e";
}
.icon-sortdesc:before {
  content: "\e92f";
}
.icon-star:before {
  content: "\e930";
}
.icon-table:before {
  content: "\e931";
}
.icon-tables:before {
  content: "\e932";
}
.icon-unlock:before {
  content: "\e933";
}
.icon-upload:before {
  content: "\e934";
}
.icon-user:before {
  content: "\e935";
}
.icon-userman:before {
  content: "\e936";
}
.icon-users:before {
  content: "\e937";
}
.icon-users2:before {
  content: "\e938";
}
.icon-zip:before {
  content: "\e939";
}
.icon-exportexcel:before {
  content: "\e93a";
}
.icon-exportexcel2:before {
  content: "\e93b";
}
.icon-exportword:before {
  content: "\e93c";
}
.icon-exportword2:before {
  content: "\e93d";
}
.icon-word:before {
  content: "\e93e";
}
.icon-pdf:before {
  content: "\e93f";
}
.icon-exportpdf:before {
  content: "\e940";
}
.icon-doc:before {
  content: "\e941";
}
.icon-xlsx:before {
  content: "\e942";
}
.icon-money:before {
  content: "\e943";
}
.icon-collapsed2:before {
  content: "\f108";
}
.icon-edit:before {
  content: "\f110";
}
.icon-folder:before {
  content: "\f11c";
}
.icon-library:before {
  content: "\f11d";
}
.icon-report:before {
  content: "\f12d";
}
.icon-shield:before {
  content: "\f135";
}
.icon-checklist:before {
  content: "\f13c";
}
.icon-true:before {
  content: "\f13e";
}
.icon-userwoman:before {
  content: "\f145";
}
.icon-sortupdown:before {
  content: "\e95c";
}
