<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DebugMode" value="1"/>
    <!--<add key="DisableSPM" value="1" />-->
    <add key="PageSize" value="70"/>
    <add key="SystemTitle" value="Tessera"/>
    <add key="AccessRightsManager" value="Nephrite.Web.SPM.WebAccessRightsManager"/>
    <add key="SettingsManager" value="Nephrite.Web.App.WebSettingsManager"/>
    <add key="ControlsPath" value="/_controltemplates/Tessera"/>
    <add key="ImagesPath" value="/_layouts/images/n/"/>
    <add key="ImageProviderAssembly" value="Nephrite.Web"/>
    <add key="ImageProviderClass" value="Nephrite.Web.ImageProvider"/>
    <add key="FileProviderAssembly" value="Nephrite.Web"/>
    <add key="FileProviderClass" value="Nephrite.Web.FileProvider"/>
    <!--<add key="FileStoragePath" value="files" />-->
    <!-- Учетная запись для выполнения действий, требующих повышенных привелегий -->
    <add key="ElevatedAccessAccountUsername" value="Vadim"/>
    <add key="ElevatedAccessAccountDomain" value=""/>
    <add key="ElevatedAccessAccountPassword" value="dflbvljvf"/>
    <add key="ModelNamespace" value="Solution"/>
    <add key="ModelAssembly" value="Lic"/>
    <add key="AdministratorsRole" value="Administrator"/>
    <!-- Путь к SqlMetal-->
    <add key="SourceFolder" value="SolutionSources"/>
    <add key="SqlMetalPath" value="c:\Program Files\Microsoft SDKs\Windows\v6.0A\bin\sqlmetal.exe"/>
    <add key="MssqlBackupFolder" value="\\srvsql\DbBackup\OppsWeb"/>
    <!-- Локальный путь бэкапа БД-->
    <add key="MssqlBackupPath" value="C:\Backup\Opps"/>
    <!-- Расшареная папка бэкапов БД-->
    <add key="MssqlBackupFolder" value="\\srvsql\DbBackup\Opps"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=(local)\v2008;Initial Catalog=Fund2;uid=sqluser;pwd=1" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=(local)\v2008;Initial Catalog=lic;uid=sqluser;pwd=1" providerName="System.Data.SqlClient"/>
    <add name="oppswebConnectionString" connectionString="Data Source=(local);Initial Catalog=oppsweb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!--<trace enabled="true" pageOutput="true" localOnly="false" writeToDiagnosticsTrace ="true" requestLimit="100000"/>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<authentication mode="Windows" />-->
    <authentication mode="Forms">
      <forms name="Opps" path="/" loginUrl="login.aspx" protection="All" timeout="9999"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off"/>
    <pages enableEventValidation="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" tagName="DynamicFilter" src="~/App_Shared/DynamicDataFields/FilterUserControl.ascx"/>
        <add tagPrefix="nw" namespace="Nephrite.Web.Controls" assembly="Nephrite.Web"/>
        <add tagPrefix="nm" namespace="Nephrite.Metamodel" assembly="Nephrite.Metamodel"/>
        <add tagPrefix="nf" namespace="Nephrite.Metamodel.FormControls" assembly="Nephrite.Metamodel"/>
        <add tagPrefix="nf" tagName="Form" src="~/_controltemplates/Nephrite.Metamodel/FormControls/Form.ascx"/>
        <add tagPrefix="nw" tagName="Filter" src="~/_controltemplates/Nephrite.Web/ListFilter.ascx"/>
        <add tagPrefix="nw" tagName="LetterFilter" src="~/_controltemplates/Nephrite.Web/LetterFilter.ascx"/>
        <add tagPrefix="nw" tagName="ModalDialog" src="~/_controltemplates/Nephrite.Web/ModalDialog.ascx"/>
        <add tagPrefix="nw" tagName="ModalDialogManager" src="~/_controltemplates/Nephrite.Web/ModalDialogManager.ascx"/>
        <add tagPrefix="nw" tagName="NavMenu" src="~/_controltemplates/Nephrite.Web/NavMenu.ascx"/>
        <add tagPrefix="nw" tagName="NavMenuEx" src="~/_controltemplates/Nephrite.Web/NavMenuEx.ascx"/>
        <add tagPrefix="nw" tagName="InputMultiStrings" src="~/_controltemplates/Nephrite.Web/InputMultiStrings.ascx"/>
        <add tagPrefix="nw" tagName="ToolbarPopupMenuCompact" src="~/_controltemplates/Nephrite.Web/ToolbarPopupMenuCompact.ascx"/>
        <add tagPrefix="nw" tagName="SelectObject" src="~/_controltemplates/Nephrite.Web/SelectObject.ascx"/>
        <add tagPrefix="nw" tagName="SelectObjectArray" src="~/_controltemplates/Nephrite.Web/SelectObjectArray.ascx"/>
        <add tagPrefix="nw" tagName="FileUpload" src="~/_controltemplates/Nephrite.Web/FileUpload.ascx"/>
        <add tagPrefix="nw" tagName="FileUploadSimple" src="~/_controltemplates/Nephrite.Web/FileUploadSimple.ascx"/>
        <add tagPrefix="nw" tagName="ImageUploadSimple" src="~/_controltemplates/Nephrite.Web/ImageUploadSimple.ascx"/>
        <add tagPrefix="nw" tagName="SelectObjectHierarchic" src="~/_controltemplates/Nephrite.Web/SelectObjectHierarchic.ascx"/>
        <add tagPrefix="nw" tagName="LinkedObjects" src="~/_controltemplates/Nephrite.Web/LinkedObjects.ascx"/>
        <add tagPrefix="nw" tagName="SingleObject" src="~/_controltemplates/Nephrite.Web/SingleObject.ascx"/>
        <add tagPrefix="nw" tagName="MultiObject" src="~/_controltemplates/Nephrite.Web/MultiObject.ascx"/>
      </controls>
      <namespaces>
        <add namespace="System.Linq"/>
        <add namespace="System.Linq.Expressions"/>
        <add namespace="Nephrite.Web"/>
        <add namespace="Nephrite.Web.SPM"/>
        <add namespace="Nephrite.Web.Controllers"/>
        <add namespace="System.IO"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Security.Cryptography"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="VPPRegisterHandler" type="Nephrite.Metamodel.VPPRegisterHandler, Nephrite.Metamodel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=25be2caed7d4a099"/>
    </httpModules>
  </system.web>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Web.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Popup.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Print.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="rss.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="projectsync.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="xml">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="file.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="image.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="data.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="captcha.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="replication.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules>
      <add name="VPPRegisterHandler" type="Nephrite.Metamodel.VPPRegisterHandler, Nephrite.Metamodel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=25be2caed7d4a099"/>
    </modules>
    <defaultDocument>
      <files>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>