<#@ template debug="false" language="C#" #>
<#@ output extension="cs" #>
<#@ assembly name="System.Core.dll" #>
<#@ assembly name="System.Data.dll" #>
<#@ assembly name="System.Data.Linq.dll" #>
<#@ assembly name="System.Configuration.dll" #>
<#@ assembly name="$(ProjectDir)$(OutDir)Nephrite.Meta.Database.DB2.dll" #>
<#@ assembly name="$(ProjectDir)$(OutDir)Nephrite.Web.dll" #>
<#@ assembly name="$(ProjectDir)$(OutDir)NHibernate.dll" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Text.RegularExpressions" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="Nephrite.Meta" #>
<#@ import namespace="Nephrite.Meta.Database" #>
<#@ import namespace="Nephrite.Web" #>
<#@ import namespace="Nephrite.Web.Hibernate" #>
<#@ import namespace="Nephrite.Web.CoreDataContext" #>
<#@ import namespace="NHibernate.Cfg.Loquacious" #>
<# 
	A.DBScript = new DBScriptMSSQL("DBO");
	ConnectionManager.SetConnectionString("Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Servants;Data Source=(local)");
	HDataContext.DBType = DBType.MSSQL;
	//A.DBScript = new DBScriptDB2("DBO");
	//ConnectionManager.SetConnectionString("Database=SRVNTS;UserID=dbo;Password=123*(iop;Server=176.227.213.5:50000");
	//HDataContext.DBType = DBType.DB2;

	A.Model = new HCoreDataContext(HCoreDataContext.DefaultDBConfig(ConnectionManager.ConnectionString), null);
	var model = MetaSolution.Load();

#>
using System;
using System.Linq;
using Nephrite.Meta;
using Nephrite.Meta.Fluent;

namespace Solution.Model
{
	public class ModelFactory
	{
		public MetaSolution CreateSolution()
		{
			var s = new MetaSolution();
<# foreach (var pck in model.Packages) { #>
			var p<#=pck.Name#> = <#=pck.Name#>Package.Create();
<# } #>

<# foreach (var pck in model.Packages) { #>
			<#=pck.Parent == null ? "s" : ("p" + pck.Parent.Name)#>.AddPackage(p<#=pck.Name#>);
<# } #>
			return s;
		}
	}

}
