<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <connectionStrings>
    <add connectionString="Initial Catalog=licweb;uid=sqluser;pwd=1;Data Source=(local)" name="ConnectionFrom" />
    <add connectionString="Database=licweb;UserId=postgres;Password=123*(iop;Server=149.202.216.11;Port=6543" name="ConnectionTo" />
	</connectionStrings>
  <appSettings>
    <add key="TablesForImport" value="MM_FormView" />
		<add key="TablesExclude" value="sysdiagrams" />
		<!--<add key="TablesExclude" value="sysdiagrams,C_Language,ErrorLog,MailMessage,MailTemplate,N_DDL,N_DownloadLog,N_File,N_FileData,N_FileLibrary,N_FileLibraryType,N_Filter,N_Folder,N_Navig,N_NavigItem,N_NavigItemData,N_ObjectChange,N_ObjectPropertyChange,N_Settings,N_SettingsGroup,N_SqlStatementLog,N_TextResource,N_TextResourceData,N_VirusScanLog,SPM_Action,SPM_ActionAsso,SPM_AvailableRoleForGrant,SPM_C_RoleType,SPM_Role,SPM_RoleAccess,SPM_RoleAsso,SPM_RoleGroup,SPM_Subject,SPM_SubjectDelegate,SPM_SubjectRole,TM_Task,TM_TaskExecution,TM_TaskParameter,WF_Activity,WF_Transition,WF_Workflow"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
