<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link href="/css/Reset.CSS" rel="stylesheet" type="text/css" />
	<link href="/css/Home.CSS" rel="stylesheet" type="text/css" />
	<link href="/css/Tessera.CSS" rel="stylesheet" type="text/css" />
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
</head>
<body>
	<div id="header">HomeHeader</div>
	<div id="container">
		<div id="nav">
			<div id="nav-header">Заголовок навигации</div>
			<div id="nav-body">
			</div>
			<div id="nav-buttonsbar">
				<ol>
					<li>Метаданные</li>
					<li>Администрирование</li>
				</ol>
			</div>
		</div>
		<div id="splitter" onclick="homePage.splitterClick()"></div>
		<div id="content">
			<div id="contenttitle">WorkAreaTitle</div>
			<div id="contentbody">
				<p><a href="/">Home</a></p>
				<p><a href="/test/edit/1">Test</a></p>
				<p>@Model.Request.Url.ToString()</p>
			</div>
		</div>
	</div>
</body>

<script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/js/jquery.cookie.js" type="text/javascript"></script>
<script>
	var homePage = function () {
		var instance = {
			splitterClick: function () {
				if ($("#nav").css("display") != "none") {
					$.cookie("nav", "0", { path: '/' });
					HideNav();
				}
				else {
					$.cookie("nav", "", { path: '/' });
					ShowNav();
				}
			},
			initNav: function () {
				if ($.cookie("nav") == "0") {
					HideNav();
				}
			},
			countNavBodyHeight: function () {
				var h = $(window).height() - $("#header").height() - $("#nav-header").height() - $("#nav-buttonsbar").height();
				$("#nav-body").css("height", h + "px");
				$("#nav-body").css("display", "block");
			}
		};

		function ShowNav() {
			$("#splitter").css("margin-left", "220px");
			$("#content").css("margin-left", "228px");
			$("#nav").css("display", "block");
		}
		function HideNav() {
			$("#splitter").css("margin-left", "0px");
			$("#content").css("margin-left", "8px");
			$("#nav").css("display", "none");
		}

		return instance;
	}();

	$(document).ready(function() {
		homePage.initNav();
		homePage.countNavBodyHeight();
	});
	$(window).resize(function () {
		homePage.countNavBodyHeight();
	});
</script>

</html>
