<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Nephrite.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=Fund2;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <authentication mode="Windows"/>
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="nw" namespace="Nephrite.Web.Controls" assembly="Nephrite.Web"/>
        <add tagPrefix="f" namespace="Nephrite.Web.FormsEngine" assembly="Nephrite.Web"/>
        <add tagPrefix="nw" tagName="Filter" src="~/_controltemplates/Nephrite.Web/ListFilter.ascx"/>
        <add tagPrefix="nw" tagName="LetterFilter" src="~/_controltemplates/Nephrite.Web/LetterFilter.ascx"/>
        <add tagPrefix="nw" tagName="ModalDialog" src="~/_controltemplates/Nephrite.Web/ModalDialog.ascx"/>
        <add tagPrefix="nw" tagName="NavMenu" src="~/_controltemplates/Nephrite.Web/NavMenu.ascx"/>
        <add tagPrefix="nw" tagName="NavMenuEx" src="~/_controltemplates/Nephrite.Web/NavMenuEx.ascx"/>
        <add tagPrefix="nw" tagName="InputMultiStrings" src="~/_controltemplates/Nephrite.Web/InputMultiStrings.ascx"/>
        <add tagPrefix="nw" tagName="SelectObject" src="~/_controltemplates/Nephrite.Web/SelectObject.ascx"/>
        <add tagPrefix="nw" tagName="SelectObjectArray" src="~/_controltemplates/Nephrite.Web/SelectObjectArray.ascx"/>
        <add tagPrefix="nw" tagName="FileUpload" src="~/_controltemplates/Nephrite.Web/FileUpload.ascx"/>
        <add tagPrefix="nw" tagName="FileUploadSimple" src="~/_controltemplates/Nephrite.Web/FileUploadSimple.ascx"/>
        <add tagPrefix="nw" tagName="ImageUploadSimple" src="~/_controltemplates/Nephrite.Web/ImageUploadSimple.ascx"/>
        <add tagPrefix="nw" tagName="SelectObjectHierarchic" src="~/_controltemplates/Nephrite.Web/SelectObjectHierarchic.ascx"/>
        <add tagPrefix="nw" tagName="LinkedObjects" src="~/_controltemplates/Nephrite.Web/LinkedObjects.ascx"/>
        <add tagPrefix="nw" tagName="SingleObject" src="~/_controltemplates/Nephrite.Web/SingleObject.ascx"/>
        <add tagPrefix="nw" tagName="MultiObject" src="~/_controltemplates/Nephrite.Web/MultiObject.ascx"/>
      </controls>
      <namespaces>
        <add namespace="System.Linq"/>
        <add namespace="System.Linq.Expressions"/>
        <add namespace="System.Data.Linq.SqlClient"/>
        <add namespace="Nephrite"/>
        <add namespace="Nephrite.AccessControl"/>
        <add namespace="Nephrite.Identity"/>
        <add namespace="Nephrite.Meta"/>
        <add namespace="Nephrite.Http"/>
        <add namespace="Nephrite.Html"/>
        <add namespace="Nephrite.MVC"/>
        <add namespace="Nephrite.Layout"/>
        <add namespace="Nephrite.SettingsManager"/>
        <add namespace="Nephrite.Multilanguage"/>
        <add namespace="Nephrite.ErrorLog"/>
        <add namespace="Nephrite.ActiveDirectory"/>
        <add namespace="Nephrite.Data"/>
        <add namespace="Nephrite.Web"/>
        <add namespace="Nephrite.Web.Controls"/>
        <add namespace="Nephrite.Web.FileStorage"/>
        <add namespace="Nephrite.Web.Office"/>
        <add namespace="Nephrite.Web.FormsEngine"/>
        <add namespace="Nephrite.Web.Reporting"/>
        <add namespace="System.IO"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Linq.Expressions"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Security.Cryptography"/>
        <add namespace="System.Transactions"/>
        <add namespace="Solution"/>
        <add namespace="Solution.Model"/>
        <add namespace="Solution.Controllers"/>
        <add namespace="Microsoft.Framework.DependencyInjection"/>
      </namespaces>
    </pages>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <Nephrite.Web.Properties.Settings>
      <setting name="Nephrite_Web_ReplicationService_Replication" serializeAs="String">
        <value>http://localhost:51278/Replication/Replication.asmx</value>
      </setting>
    </Nephrite.Web.Properties.Settings>
  </applicationSettings>
</configuration>