<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=Fund2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Fund2ConnectionString" connectionString="Data Source=(local)\v2008;Initial Catalog=Fund2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="oppsConnectionString" connectionString="Data Source=(local);Initial Catalog=opps;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ContextumConnectionString" connectionString="Data Source=(local);Initial Catalog=Contextum;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="oppswebConnectionString" connectionString="Data Source=(local);Initial Catalog=oppsweb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ContextumConnectionString1" connectionString="Data Source=(local);Initial Catalog=Contextum;Integrated Security=True;Connect Timeout=150" providerName="System.Data.SqlClient"/>
    <add name="licwebConnectionString" connectionString="Data Source=(local);Initial Catalog=licweb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="opps2ConnectionString" connectionString="Data Source=srvsql\mssqlserver2008;Initial Catalog=opps2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="opps3ConnectionString" connectionString="Data Source=srvsql\mssqlserver2008;Initial Catalog=opps3;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="contextum2ConnectionString" connectionString="Data Source=srvsql\mssqlserver2008;Initial Catalog=contextum2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ermsConnectionString" connectionString="Data Source=srvsql\mssqlserver2008;Initial Catalog=erms;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="nw" namespace="Nephrite.Web.Controls" assembly="Nephrite.Web"/>
        <add tagPrefix="nw" tagName="Toolbar" src="~/Controls/Toolbar.ascx"/>
        <add tagPrefix="nw" tagName="Filter" src="~/Controls/ListFilter.ascx"/>
        <add tagPrefix="nw" tagName="LetterFilter" src="~/Controls/LetterFilter.ascx"/>
        <add tagPrefix="nw" tagName="ModalDialog" src="~/Controls/ModalDialog.ascx"/>
        <add tagPrefix="nw" tagName="ModalDialogManager" src="~/Controls/ModalDialogManager.ascx"/>
        <add tagPrefix="nw" tagName="NavMenu" src="~/Controls/NavMenu.ascx"/>
        <add tagPrefix="nw" tagName="TabControl" src="~/Controls/TabControl.ascx"/>
        <add tagPrefix="nw" tagName="TabPage" src="~/Controls/TabPage.ascx"/>
        <add tagPrefix="nw" tagName="TreeView" src="~/Controls/TreeView.ascx"/>
        <add tagPrefix="nw" tagName="TinyMCEEditor" src="~/Controls/TinyMCEEditor.ascx"/>
        <add tagPrefix="nw" tagName="ToolbarPopupMenuCompact" src="~/Controls/ToolbarPopupMenuCompact.ascx"/>
      </controls>
      <namespaces>
        <add namespace="System.Linq"/>
        <add namespace="Nephrite.Web"/>
        <add namespace="Nephrite.Meta"/>
      </namespaces>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TaskManagerService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:24090/TaskManager/TaskManagerService.asmx"
        binding="basicHttpBinding" bindingConfiguration="TaskManagerService"
        contract="TaskManagerServiceReference.TaskManagerService" name="TaskManagerService" />
    </client>
  </system.serviceModel>
</configuration>