<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Nephrite.Web.Hibernate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <applicationSettings>
    <Nephrite.Web.Hibernate.Properties.Settings>
      <setting name="Nephrite_Web_Hibernate_TaskManagerRerefence_TaskManagerService" serializeAs="String">
        <value>http://localhost:64054/TaskManager/TaskManagerService.asmx</value>
      </setting>
    </Nephrite.Web.Hibernate.Properties.Settings>
  </applicationSettings>
</configuration>