.resedit {
	background-color: yellow;
}

/* popup **********************************************************************************/
#overlay1 {
	top: 0;
	left: 0;
	position: fixed;
	//position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	opacity: 0.65;
	filter: alpha(opacity=65);
	z-index: 50;
}

/* js calendar  **********************************************************************************/
div.calendar {
	position: relative;
	z-index: 99;
}

.calendar table {
	border-collapse: separate;
	border-spacing: 3px;
}

.calendar {
	border: 1px solid #bdb2bf;
	background-color: white;
}

/* Header part -- contains navigation buttons and day names. */
.calendar .cal-button { /* "<<", "<", ">", ">>" buttons have this class */
	text-align: center;
	padding: 2px; /* Make the buttons seem like they're pressing */
	font-weight: bold;
	cursor: pointer;
}

.calendar .cal-nav > div {
	position: relative;
}

.calendar .cal-nav > div:after {
	content: "";
	position: absolute;
	right: 2px;
	top: 50%;
	width: 0;
	height: 0;
	margin-top: 3px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	border-top: 4px solid;
}

.calendar thead .cal-title { /* This holds the current "month, year" */
	font-weight: bold; /* Pressing it will take you to the current date */
	text-align: center;
	padding: 2px;
}

.calendar thead .name { /* Cells <TD> containing the day names */
	padding: 2px;
	text-align: center;
}

.calendar thead .active { /* Active (pressed) buttons in header */
	padding: 3px 1px 0px 3px;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
	font-size: smaller;
	height: 24px;
	color: #FF9A19;
}

/* The body part -- contains all the days in month. */
.calendar tbody .day { /* Cells <TD> containing month days dates */
	width: 32px;
	height: 32px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	background-color: transparent;
}

.calendar tbody .day:hover {
	background-color: #F0F0F0;
}

.calendar tbody .day.othermonth {
	font-size: 80%;
	color: #999;
}

.calendar tbody .day.othermonth.oweekend {
	color: #f99;
}

.calendar tbody td.today {
	font-weight: bold;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
	color: #c44;
}

.calendar tbody td.selected, .calendar tbody td.selected:hover { /* Cell showing selected date */
	font-weight: bold;
	background: #45bced;
	border-radius: 50%;
	color: white;
}

.calendar .headrow .cal-button {
	background-color: transparent;
	border-radius: 8px;
}

.calendar .headrow .cal-button:hover {
	background-color: #F0F0F0;
}

.calendar tbody .disabled {
	color: #999;
}

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
	visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
	display: none;
}

/* The footer part -- status bar and "Close" button */
.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
	text-align: center;
	font-size: small;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
	padding: 2px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
	background: #afa;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
	background: #7c7;
	padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */
.calendar .cal-combo {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 4em;
	cursor: default;
	border-width: 1px;
	border-style: solid;
	border-color: #797979;
	z-index: 100;
	font-size: 90%;
	background-color: white;
}

.calendar .cal-combo .cal-label {
	text-align: center;
	padding: 1px;
}

.calendar .cal-combo .active {
	font-weight: bold;
}

.calendar .cal-combo .cal-label:hover {
	background-color: #F0F0F0;
}

.calendar td.time {
	border-top: 1px solid #797979;
	padding: 1px 0px;
	text-align: center;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
	padding: 0px 5px 0px 6px;
	font-weight: bold;
}

.calendar td.time .hour,
.calendar td.time .minute {
	font-family: monospace;
}

.calendar td.time .ampm {
	text-align: center;
}

.calendar td.time .colon {
	padding: 0px 2px 0px 3px;
	font-weight: bold;
}

.cal-openbtn {
	margin-left: 3px;
	cursor: pointer;
	color: #7a869a;
}

.formbody input[type=text].cal-date {
	width: 85px;
}

.cal-datetime {
	width: 115px;
}

/* datelists */
.datelists {
	display: inline-block;
}

.datelists select {
	width: auto;
}

/* td drag'n'drop */
td.showDragHandle {
	background-image: url(/i/dnd/updown2.gif);
	background-position: left;
	background-repeat: no-repeat;
	cursor: move;
}

/* tessera **********************************************************************************/
.deletedItem {
	background-color: #ccc;
	text-decoration: line-through;
}

.CodeArea {
	padding-left: 3px;
	width: 100%;
	height: 500px;
	font-family: Consolas,Courier New Cyr;
	font-size: 14px;
	border: 1px solid #666;
}

.textAreaWithLines {
	display: block;
	margin: 0;
	border: 1px solid #666;
	border-right: none;
	background: #ddd;
	color: #000;
	/*padding-right:5px;*/
}




/* other */
.tabletitle {
	margin: 15px 0px 5px 0px;
	font-weight: bold;
	font-size: 1.2em;
	display: table;
	background-color: #FFF0C6;
	padding: 0px 4px;
	display: inline-block;
}

.grouptoolbar {
	display: inline-block;
}

.grouptoolbar a {
	margin-left: 4px;
	padding: 3px 9px;
	border: 1px solid #fff;
}

.grouptoolbar a:hover {
	background-color: #fcfcfc;
	border: 1px solid #aaa;
}

/* Twitter bootstrap labels */
.label {
	display: inline;
	padding: .2em .6em .3em;
	/*font-size: 75%;
  font-weight: 700;*/
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.label-danger {
	background-color: #d9534f;
}

.label-warning {
	background-color: #f0ad4e;
}

.label-info {
	background-color: #5bc0de;
}

.label-success {
	background-color: #5cb85c;
}

.label-primary {
	background-color: #337ab7;
}

.label-default {
	background-color: #777;
}







/* new modal */
.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	outline: 0;
	background-color: rgba(255, 255, 255, 0.67);
	z-index: 100;
}

.modal-dialog {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 100%;
	max-height: 85%;
	visibility: hidden;
}

.modal-dialog form {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.modal-container {
	max-height: 99%; /*ie 11 hack*/
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.5);
}

.modal-header, .modal-body, .modal-footer, .modal-toolbar, .modal-container .buttonsbar {
	background-color: #fff;
}

.modal-header {
	padding: 3px 10px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f3f3f3;
}

.modal-header h3 {
	padding-top: 4px;
	font-size: 0.9em;
	font-weight: normal;
	text-transform: uppercase;
	display: inline-block;
}

.modal-title {
	margin: 0;
}

.modal-body {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.modal-body .widthstd {
	width: 100%
}

.modal-footer, .modal-container .buttonsbar {
	padding: 8px 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
	background-color: #f3f3f3;
}

.modal-dialog {
	transform: scale(0.8);
	transform-origin: top;
	opacity: 0;
	transition: all 0.2s;
}

.modal-dialog.md-show {
	transform: scale(1);
	opacity: 1;
}


button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	font-size: smaller;
}

.close {
	float: right;
	font-size: 1.2em;
	line-height: 20px;
	color: #777;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-dialog.modalbodypadding .modal-body {
	padding: 15px;
}
.modal-dialog.height100 .modal-container, .modal-dialog.height100 .modal-body {
	height: 100%;
}


.paging {
	padding: 0px 8px;
}

.paging, .paging2 {
	user-select: none;
}

.paging2 .int {
	cursor: pointer;
	border-bottom: 1px dashed;
	color: #3b73af;
}

.paging2 a.cnt {
	/*line-height: 20px;*/
	border: 1px solid transparent;
	padding: 0px 3px;
	color: #333;
	/*margin: 0px 5px 0px 0px;*/
}

.paging2 a.cnt:hover {
	text-decoration: none;
	background-image: -webkit-linear-gradient(#fcfcfc, #ddd);
	background-image: linear-gradient(#fcfcfc, #ddd);
	border: 1px solid #c6c6c6;
}

.linkicon {
	margin-right: 4px;
}

.tabs2 > ul {
	width: 100%;
}

.tabs2 > ul {
	margin: 0;
	padding: 5px 0 0 16px;
	list-style: none;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	display: inline-block;
}

.tabs2 > ul > li {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	margin: 0 0 0 -1px;
	user-select: none;
}

.tabs2 > ul > li > div {
	top: 33px;
	bottom: 0;
	left: 0;
	padding: 8px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tabs2 > ul > li > input[type="radio"] + label {
	display: block;
	border: 1px solid #ccc;
	margin-bottom: -1px;
	padding: 4px 10px 3px 10px;
	background: #f1f1f1;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	user-select: none;
}

.tabs2 > ul > li > input[type="radio"]:checked + label {
	z-index: 1;
	background: #fff;
	border-bottom-color: #fff;
	font-weight: bold;
	cursor: default;
}

.tabs2 > ul > li > input[type="radio"] {
	opacity: 0;
	display: none;
	user-select: none;
}

.tabs2 > ul > li > input[type="radio"]:disabled + label {
	opacity: .5;
	cursor: no-drop;
}
.tabs2 .aftertabs {
	line-height: 27px;
	padding-left: 8px;
}
.tabs2 .beforetabs {
	line-height: 27px;
	padding-right: 8px;
}

.tabs2_pages > div {
	display: none;
}

.tabs2_pages > div.selected {
	display: block;
	height: 100%;
}

div.tabs2 + div.tabs2_pages {
	margin-top: 8px;
}


/* Tipso Bubble Styles */
.tipso_bubble, .tipso_bubble > .tipso_arrow {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tipso_bubble {
	position: absolute;
	text-align: left;
	border-radius: 6px;
	z-index: 9999;
	/*display: inline-block;*/
}

.tipso_style {
	cursor: help;
	border-bottom: 1px dotted;
}

.tipso_title {
	border-radius: 6px 6px 0 0;
}

.tipso_content {
	word-wrap: break-word;
	padding: 0.5em;
}

/* Tipso Bubble size classes - Similar to Foundation's syntax*/
.tipso_bubble.tiny {
	font-size: 0.6rem;
}

.tipso_bubble.small {
	font-size: 0.8rem;
}

.tipso_bubble.default {
	font-size: 1rem;
}

.tipso_bubble.large {
	font-size: 1.2rem;
	width: 100%;
}

/* Tipso Bubble Div */
.tipso_bubble > .tipso_arrow {
	position: absolute;
	width: 0;
	height: 0;
	border: 8px solid;
	pointer-events: none;
}

.tipso_bubble.top > .tipso_arrow {
	border-top-color: #000;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	top: 100%;
	left: 50%;
	margin-left: -8px;
}

.tipso_bubble.bottom > .tipso_arrow {
	border-bottom-color: #000;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
}

.tipso_bubble.left > .tipso_arrow {
	border-left-color: #000;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	top: 50%;
	left: 100%;
	margin-top: -8px;
}

.tipso_bubble.right > .tipso_arrow {
	border-right-color: #000;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	top: 50%;
	right: 100%;
	margin-top: -8px;
}

.tipso_bubble .top_right_corner,
.tipso_bubble.top_right_corner {
	border-bottom-left-radius: 0;
}

.tipso_bubble .bottom_right_corner,
.tipso_bubble.bottom_right_corner {
	border-top-left-radius: 0;
}

.tipso_bubble .top_left_corner,
.tipso_bubble.top_left_corner {
	border-bottom-right-radius: 0;
}

.tipso_bubble .bottom_left_corner,
.tipso_bubble.bottom_left_corner {
	border-top-right-radius: 0;
}

.visible {
	visibility: visible;
}


/* dropdownmenu */
.dropdownmenu {
	transition: opacity 80ms linear;
	overflow: auto;
}

.dropdownmenu.iw-display {
	transition: opacity 0ms;
}

.dropdownmenu::-webkit-scrollbar {
	width: 6px;
}

.dropdownmenu::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.dropdownmenu::-webkit-scrollbar-thumb {
	background: #888;
}

.dropdownmenu::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.dropdownmenu > div > div {
	background-color: #eff0f1;
	width: 100%;
	padding: 0px 12px;
	line-height: 28px;
	color: #6a737c;
	font-weight: bold;
	text-transform: uppercase;
}

.dropdownmenu a {
	display: block;
	width: 100%;
	text-decoration: none;
	outline: none;
	padding: 0px 12px;
	line-height: 28px;
	text-align: left;
	color: #333;
	white-space: nowrap;
}

.dropdownmenu span {
	padding: 0px 12px;
}

.dropdownmenu .icon {
	margin-right: 3px;
}

.dropdownmenu .separator {
	border-top: 2px solid transparent;
	border-bottom: 1px solid #ccc;
	margin-bottom: 3px;
}

.dropdownmenu a:hover, .dropdownmenu a.selected {
	background-color: #296ca3;
	color: white;
	text-decoration: none;
}

.icon-dropdownarrow-angle {
	margin-left: 10px;
	font-size: small;
}

.dropdownfield {
	display: inline-block;
	padding-right: 10px;
}

.dropdownfield:hover, .dropdownfield.iw-opened {
	background-color: #7fe0f8;
	background-image: linear-gradient(#cef8ff, #7fe0f8);
}

.dropdownimage {
	padding: 2px 4px;
}

.dropdownimage:hover, .dropdownimage.iw-opened {
	background-color: #7fe0f8;
	background-image: linear-gradient(#cef8ff, #7fe0f8);
}

.dropdownimage-inline {
	display: inline-block;
	margin-left: 4px;
}

/* period picker*/
.periodpicker {
	position: relative;
	display: block;
	padding: 0 2px;
	background-color: white;
	border: 1px solid #aaa;
	min-width: 200px;
}

.periodpicker div, .datetimepicker div {
	display: inline;
	margin-right: 3px;
}

.periodpicker input, .periodpicker select {
	display: inline;
	border: none;
	line-height: inherit;
	outline: none;
	background-color: transparent;
}

.periodpicker input[type=text].cal-date, .datetimepicker input[type=text].cal-date {
	width: 75px;
	padding: 0 0 0 3px;
}

.periodpicker .datelists .hours, .periodpicker .datelists .minutes,
.datetimepicker .datelists .hours, .datetimepicker .datelists .minutes {
	width: 20px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.periodpicker {
		border: 1px inset #999;
	}

	.periodpicker .datelists .hours, .periodpicker .datelists .minutes,
	.datetimepicker .datelists .hours, .datetimepicker .datelists .minutes {
		width: 25px;
	}
}

.periodpicker > div:first-of-type, .periodpicker > div:last-of-type {
	background-color: #c2dbff;
	border-radius: 7px;
	padding: 0 3px;
}

.periodpicker .cal-openbtn {
	position: absolute;
	/*top: 6px;
	bottom: 4px;*/
	right: 3px;
	margin-left: 0;
	font-size: inherit;
	width: inherit;
	height: inherit;
}

.periodpicker select, .datetimepicker select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
}

.periodpicker select::-ms-expand, .datetimepicker select::-ms-expand {
	display: none
}

.periodpicker select:focus {
	-webkit-box-shadow: inset 0px 0px 0px 1px #205081;
	-moz-box-shadow: inset 0px 0px 0px 1px #205081;
	box-shadow: inset 0px 0px 0px 1px #205081;
}

/* selectsingleobject drop down*/
.selectsingleobject {
	position: relative;
	display: block;
	padding: 2px 24px 2px 2px;
	background-color: white;
	border: 1px solid #aaa;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.selectsingleobject {
		border: 1px inset #999;
	}
}

.selectsingleobject .selected {
	display: inline;
	background-color: #c2dbff;
	border-radius: 7px;
	padding: 0 3px;
	margin-right: 3px;
}

.selectsingleobject .filter {
	display: inline;
	border: none;
	/*background-color: aquamarine;*/
	line-height: inherit;
	width: 100%;
	outline: none;
	padding: 0;
	margin: 0;
}

.selectsingleobject .selectedcontainer {
	display: inline;
}

.selectsingleobject .btn {
	position: absolute;
	top: 6px;
	bottom: 4px;
	right: 1px;
	margin-left: 0;
	font-size: inherit;
	width: inherit;
	height: inherit;
	border: 0;
	border-radius: inherit;
}

.selectsingleobject .btn:hover {
	background-color: #ebecf0;
	color: inherit;
	border: 0;
}

.selectsingleobject .close {
	margin-left: 3px;
	font-weight: 700;
	/*vertical-align: bottom;*/
	float: inherit;
	font-size: x-small;
	line-height: inherit;
}

.selectsingleobject .close:hover {
	background-color: #ebecf0;
}

.selectsingleobject-popup {
	width: 600px;
}

.selectsingleobject-popup label {
	padding: 2px 4px;
}

.selectsingleobject-popup .selected {
	background-color: #ebecf0;
}

.selectsingleobject-popup .selected.checked {
	background-color: #d7e4f8;
}

.selectsingleobject-popup label input[type=radio] {
	display: none;
}

.selectsingleobject-popup .listviewtable td {
	padding: 4px 4px;
}

.input-measure {
	position: absolute;
	white-space: nowrap;
	color: transparent;
}


/* table extenstions */
/* expanded rows */
.rowexpandercell .icon {
	font-size: smaller;
}

.rowexpandercell:hover {
	cursor: pointer;
}

.expandablerowcontent {
	border: 3px solid lavender;
	border-radius: 5px;
}

.expandedcell {
	/*border: 3px solid lavender;*/
	background-color: lavender;
}

/* table-tree */
.treerow {
	display: table;
	table-layout: fixed;
	height: 100%;
	/*width: 100%;*/
	border-collapse: separate;
	border-spacing: 0px 0px;
	word-wrap: break-word;
}

.treerow:not(.l0) {
	padding-left: 3px;
}

.treerow > div {
	display: table-cell;
	vertical-align: middle;
	padding: 4px 0px;
}

.smaller .treerow > div {
	padding: 3px 0px;
}

.smaller .treerow .leaf {
	width: 13px;
}

.smaller .level-padding {
	width: 13px;
}

.smaller .treerow > .togglelevel {
	width: 12px;
}

.treerow > div:last-child {
	/*width:100%;*/
}

.treerow > div:nth-last-child(2) {
	width: 16px;
}

.level-padding {
	width: 16px;
	display: table-cell;
	border-left: 1px dashed #ccc;
	min-width: 16px;
	min-height: 1px;
}

.level-padding:empty:after {
	content: "\00a0";
}

.level-padding.last {
	width: 13px;
}

.listviewtable.tree td {
	padding: 0px 8px 0px 8px;
}

.listviewtable td.money {
	white-space: nowrap;
	text-align: right;
}

.tree {
	height: 1px;
}

.listviewtable .toggleicon.icon-treenode {
	/*transition: .2s transform ease-in-out;*/
	transform: rotate(90deg);
}

.listviewtable .collapsed .toggleicon.icon-treenode {
	transform: rotate(0deg);
}

.tree tr:focus {
	outline: none;
	background-color: #ebecf0 !important;
	/*outline-color: #3b73af;*/
}

.treerow .togglelevel > span {
	width: 18px;
	cursor: pointer;
	text-align: center;
	margin-right: 4px;
	margin-left: -9px;
	padding: 0 2px;
}

.treerow .togglelevel > span:hover {
	background-color: #ebecf0;
}

.treerow .leaf {
	width: 16px;
	border-left: 1px dashed #ccc;
}

.treerow .nodeicon {
	margin-right: 4px;
}

.treerow.l0 .togglelevel > span {
	margin-left: -6px;
}

.treecontainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.listviewtable.tree .gr {
	border: none;
}

.listviewtable tr .dropdownimage {
	visibility: hidden;
}

.listviewtable tr:hover .dropdownimage, .listviewtable tr .dropdownimage.iw-opened {
	visibility: visible;
}

.treerow-content .selected {
	background-color: #c2dbff;
	border-radius: 7px;
}

.content.selectable .contentbody {
	flex: 7;
	overflow-y: auto;
}

.content.selectable .contentbody-selected {
	flex: 3;
	overflow-y: auto;
}
.tree .childrencnt {
	margin-left: 4px;
	font-weight: bold;
}

/* collapsible sidebar */
.sidebar {
	border-right: 1px solid #ccc;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.sidebar .sidebar-panel {
	flex: 1;
}


.sidebar-header {
	display: flex;
	color: #5e6c84;
	line-height: 1.66666667;
}

.sidebar-menu:hover {
	cursor: pointer;
	background-color: #ebecf0;
}

.sidebar:not(.collapsed) .sidebar-menu {
	display: none !important;
}

.sidebar.collapsed .sidebar-menu {
	display: block;
	overflow-x: hidden;
	overflow-y: hidden;
}

.sidebar.collapsed .sidebar-panel {
	display: none !important;
}

.sidebar-close {
	flex: 1;
	text-align: right;
	cursor: pointer;
	padding: 2px 8px 0px 8px;
}

.sidebar-header h3 {
	flex: 9;
	margin: 0;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0;
	text-transform: uppercase;
	padding: 4px 8px 0px 8px;
}

.sidebar-menu > ul {
	margin: 0;
	padding: 0;
	height: 0;
}

.sidebar-menu > ul > li {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0;
	color: #6b778c;
	text-transform: uppercase;
	line-height: 20px;
	width: 20px;
}

.sidebar-menu > ul > li > span {
	display: inline-block;
	transform: translate(20px, 0) rotate(90deg);
	transform-origin: 0 0;
	white-space: nowrap;
	margin: 10px 0;
	width: 20px;
}

.sidebar-panel {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.sidebar-panel > div:last-child {
	flex: 1;
	overflow-y: auto;
}

.sidebar.collapsed {
	width: 20px;
	flex: inherit !important;
	min-width: 0px !important;
}

/* collapsible block */
.block-btn {
	width: 16px;
	height: 14px;
	display: inline-block;
	background-color: #eee;
	border-radius: 4px;
	line-height: 11px;
}

.block-btn .icon {
	min-width: 14px;
	font-size: x-small;
	font-weight: bold;
}

.block-btn:hover {
	background-color: #e5e5e5;
}

.block-btn .icon {
	transform: rotate(90deg);
}

.collapsed .block-btn {
	padding: 0 2px;
}

.collapsed .block-btn .icon {
	transform: inherit;
}

.block-header {
	margin-bottom: 4px;
	cursor: pointer;
}

.block-title {
	display: inline-block;
	margin-left: 6px;
	/*color: #5e6c84;*/
	font-weight: 600;
	vertical-align: middle;
}


.block.collapsed > *:not(:first-child) {
	display: none;
}

.block > *:not(:first-child) {
	padding-left: 22px;
}

.block > *:last-child {
	padding-bottom: 20px;
}

.block .menutoolbar ul {
	padding: 0
}

.fixedheader > tbody > tr > th {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 10;
}
.tree tr.fixedrow {
	position: sticky;
	z-index: 10;
	background-color: #fff;
}

/* icons */
.icon-checkbox-unchecked .svgicon-checkbox-checked,
.icon-checkbox-checked .svgicon-checkbox-unchecked,
.icon-checkbox-checked .svgicon-minus-box,
.icon-checkbox-unchecked .svgicon-minus-box,
.icon-minus-box .svgicon-checkbox-unchecked,
.icon-minus-box .svgicon-checkbox-checked {
	display: none;
}

.icon-expanded .svgicon-collapsed,
.icon-collapsed .svgicon-expanded {
	display: none;
}
