<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!--<add connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Servants20140421;Data Source=(local)" name="ConnectionStringFrom"  />
		<add connectionString="Database=servants;UserID=db2admin;Password=q121212;Server=193.233.68.82:50000" name="ConnectionStringTo" />
		<add connectionString="Initial Catalog=servants;uid=sqluser;pwd=1;Data Source=(local)" name="ConnectionStringFrom" />-->
		<add connectionString="Initial Catalog=lic;uid=sqluser;pwd=1;Data Source=193.233.68.55" name="ConnectionStringFrom" />
		<add connectionString="Database=lic;UserId=postgres;Password=Qq121212;Server=127.0.0.1;Port=5432" name="ConnectionStringTo" />
	</connectionStrings>
  <appSettings>
		<add key="Tables" value="all" />
    <!--<add key="Tables" value="CALENDARDAY,SPM_ACTION,SPM_ACTIONASSO,SPM_AVAILABLEROLEFORGRANT,SPM_C_ROLETYPE,SPM_CASHEFLAG,SPM_ROLE,SPM_ROLEACCESS,SPM_ROLEASSO,SPM_ROLEGROUP,SPM_SUBJECT,SPM_SUBJECTACCESS,SPM_SUBJECTDELEGATE,SPM_SUBJECTROLE"/>
    <add key="Tables" value="CALENDARDAY,CMSFORMVIEW,HST_N_TIMEZONE,MAILTEMPLATE,MM_CODIFIER,MM_CODIFIERVALUE,MM_DATAVALIDATION,MM_FORMFIELD,MM_FORMFIELDATTRIBUTE,MM_FORMFIELDGROUP,MM_FORMVIEW,MM_FORMVIEW1,MM_GROUP,MM_GROUPASSO,MM_METHOD,MM_METHODGROUP,MM_METHODGROUPITEM,MM_METHODPARAMETER,MM_OBJECTPROPERTY,MM_OBJECTTYPE,MM_OBJECTTYPESTEREOTYPES,MM_PACKAGE,MM_PREDICATE,MM_TAGGEDVALUETYPE,N_CACHE,N_FILE,N_FILELIBRARY,N_FILELIBRARYTYPE,N_FOLDER,N_FOLDERPREDICATE,N_MENUITEM,N_NAVIG,N_NAVIGITEM,N_NAVIGITEMDATA,N_NODE,N_NODEDATA,N_OBJECTCHANGE,N_OBJECTPROPERTYCHANGE,N_REPLICATIONOBJECT,N_RSSFEED,N_SETTINGS,N_SETTINGSGROUP,N_SITENODE,N_TABLEINFO,N_TASK,N_TASKTYPE,N_TEXTRESOURCE,N_TEXTRESOURCEDATA,N_TIMEZONE,SITEINFOOBJECTS,SPM_ACTION,SPM_ACTIONASSO,SPM_AVAILABLEROLEFORGRANT,SPM_C_ROLETYPE,SPM_CASHEFLAG,SPM_ROLE,SPM_ROLEACCESS,SPM_ROLEASSO,SPM_ROLEGROUP,SPM_SUBJECT,SPM_SUBJECTACCESS,SPM_SUBJECTDELEGATE,SPM_SUBJECTROLE,TM_TASK,TM_TASKPARAMETER,WF_ACTIVITY,WF_TRANSITION,WF_WORKFLOW"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Dapper" publicKeyToken="e3e8412083d25dd3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
