<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
		<add connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Servants20140421;Data Source=(local)" name="ConnectionStringFrom"  />
		<add connectionString="Database=servants;UserID=db2admin;Password=q121212;Server=193.233.68.82:50000" name="ConnectionStringTo" />
		<!--<add connectionString="Initial Catalog=servants;uid=sqluser;pwd=1;Data Source=(local)" name="ConnectionStringFrom" />
		<add connectionString="Database=postgres;UserId=postgres;Password=Qq121212;Server=127.0.0.1;Port=5432" name="ConnectionStringTo" />-->
	</connectionStrings>
</configuration>